 

#top{
        box-sizing: border-box;
        
   background-color: black;
    width: 100%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;

}



img{
    height: 200px;
   
}
ul{
    color: white;
    list-style: none;
   display: flex;
   gap: 12px;
   font-size: 12px;
   text-decoration: solid;
  
  
}
p{
    color: white;
    font-size: 12px;
    margin-left: 120px;
}

#n2{
    color: white;
    font-size: 12px;
    margin: 80px;
}

 menu{
    box-sizing:border-box;
   background-image: url(pexels-pixabay-2150.jpg);
   background-size: 100%;
   height: 700px;
   width: 100%;
   margin: 0px;
   padding: 0px;

  
} 


 #new2{
    font-size: large;
    color: white;
    display: flex;
    justify-content:flex-start;
    align-items:self-start;
    
    
    
 }

 #new3{
    font-size: large;
    color: white;
    display: flex;
    
    align-items:center;
    justify-content:left;
 
 }

 #r1{
    box-sizing: border-box;
    background-image: url(photo2.jpg);
    background-size: 100%;
    height: 700px;
    width: 100%;
       margin: 0px;
    padding: 0px;
    
    
    
 }





 .p2{
    color: white;
    display: flex;
    justify-content: flex-start;
       margin: 0px;
    padding-top: 150px;
    
 }

 .p3{
    color: gray;
    display: flex;
    justify-content: flex-start;
 }

 

 #new4{
       margin: 0px;
    padding: 0px;
 }

#a1{
    background-image: url(suit.jpg);
    background-size: 100%;
    height: 700px;
    width: 100%;
     margin: 0px;
    padding: 0px;

}

.a2{
    color: white;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding-top: 150px;
}

.a3{
    color: gray;
    display: flex;
    justify-content: flex-start;

}

#f1{
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    height: 50px;
    padding-top: 6px;
}